---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto my-2 px-8 bg-white">
    <h1 class="text-4xl font-bold">button</h1>
    <hr class="my-2" />
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Button-1
    </button>
    <hr class="my-2" />
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
    Button-2
    </button>
    <hr class="my-2" />
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
    Button-3
    </button>
    <hr class="my-2" />

  </div>
</Layout>

<!-- -->
<style>
</style>

<!--
<h1 class="text-4xl font-bold text-center">container</h1>
-->
