---
import Layout from '../../layouts/Layout.astro';
import CryptoJS  from 'crypto-js';
import AES from 'crypto-js/aes';
const secretKey = import.meta.env.PUBLIC_CRYPTO_KEY;
const secretMessage = "1234aaa";
console.log("secretKey=", secretKey);
// 暗号化
const encryptedMessage = AES.encrypt(secretMessage, secretKey).toString();
console.log("暗号化されたメッセージ:", encryptedMessage);
// 復号化
const decryptedBytes = AES.decrypt(encryptedMessage, secretKey);
const decryptedMessage = decryptedBytes.toString(CryptoJS.enc.Utf8);
console.log("復号化されたメッセージ:", decryptedMessage);

---

<Layout title="Welcome to Astro.">
    <div class="container mx-auto my-2 px-8 bg-white">
        <h1 class="text-4xl font-bold">Secret</h1>
        <hr class="my-2" />

        <hr class="mb-4" />

    </div>
</Layout>

<!-- -->
<style>
</style>

<!--
<h1 class="text-4xl font-bold text-center">container</h1>
-->

<script src="./lib/secret"></script>